<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="PremiumCalculatorStyle.css">
    <link rel="icon" type="image/x-icon" href="../public/premiumLogo.png">
    <title>Premium Calculator</title>
</head>
<body>
    <nav>
        <ul>
            <h1>LOGO</h1>
            <div class="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="#">About Us</a></li>
                <!-- <li><a href="/quote">Get Quote</a></li> -->
                <button class="QuoteBtn" type="button"  onclick = "window.location.href='/quote'">Get Quote</button>
            </div>
        </ul>
    </nav>

    <div class="card">
        <div class="heading">
            <h2>Get the <span class="span">Quoted Presentation</span> Hassle Free</h2>
            <h3>And Impress your Clients</h3>
            <button class="QuoteBtn" type="button" onclick = "window.location.href='/quote'">Get Quote</button>
        </div>
        <div class="heading_img">
            <img src="calculator.jpg" alt="calculator">
        </div>
    </div>
</body>
</html>